#blog {
    background-color: $white-color;
    color: $dark-blue-text;
    padding-top: 5rem;
    padding-bottom: 15rem;

    a {
        text-decoration: none;
        color: #6c757d !important;
    }

    .blog-banner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem
    }

    .blog-card {
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        padding: 2rem;
        border-radius: .25rem;
    }

    .blog-header {
        padding: 1.5rem 0 2rem;
        color: $dark-blue-text;
        text-transform: capitalize;
    }

    .blog-excerpt {
        padding: 1.5rem 0 2rem;
    }

}